

    <div class="card">
        <h5 class="card-header">List of Claims : </h5>
        <div class="card-body">
          
            <p-table #dt [value]="claims" [(selection)]="claim" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0" [globalFilterFields]="['name','claimCategory','description','priority']">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Title <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="description">Category <p-sortIcon field="description"></p-sortIcon></th>

                    <th pSortableColumn="priority">Priority <p-sortIcon field="priority"></p-sortIcon></th>
                    <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                    <th style="width: 8rem">Actions </th>
                           </tr>
                           <tr>
                           
                            <th>
                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'title', 'startsWith')" placeholder="Search by Title" class="p-column-filter">
                            </th>
                            <th>
                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'claimCategory', 'contains')" placeholder="Search by Category" class="p-column-filter">
                            </th>
                            <th>
                                <p-multiSelect  [options]="priorities" placeholder="All" (onChange)="onPriorityChange($event)" styleClass="p-column-filter" optionLabel="name">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span [class]="'customer-badge status-' + option.value">{{option.value}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </th>
                           
                          
                            <th>
                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'description', 'contains')" placeholder="Description" class="p-column-filter" >
                            </th>
                            <th></th>
                        </tr>
            </ng-template>
            <ng-template pTemplate="body" let-claim>
                <tr class="p-selectable-row">
                    
                    <td>
                        <span class="p-column-title"> {{claim.title}}</span>
                       
                    </td>
                    <td>
                        <span class="p-column-title"></span>
                        <span class="image-text">{{claim.claimCategory}}</span>
                    </td>
                    <td>
                        <span class="p-column-title"></span>
                        <span class="image-text">{{claim.priority}}</span>
                    </td>
                   
                  
                    <td>
                        <span class="p-column-title"></span>
                        <span class="image-text">{{claim.description}}</span>
                    </td>
                   
    
                    <td>
                        <button pButton pRipple icon="pi pi-info-circle" class="p-button-rounded p-button-warning"  (click)="showDetails(claim.id)"></button>
                        <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-alert" (click)="deleteClaim(claim.id)" ></button>
                        </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No customers found.</td>
                </tr>
            </ng-template>
        </p-table> 
    
    
    
       </div>
      </div>
