<div class="single-post__leave__comment">
    <div class="widget__title">
        <h4>Claim Form</h4>
    </div>
    <div class="container">
        <div class="col-lg-6 col-md-6">
            <div class="contact__form">
                <form [formGroup]="claimForm">
                    <div class="form-group">
                        <select value="{{claim.claimCategory}}" class="form-select" id="claimCategory" name="claimCategory" formControlName="claimCategory">
                            <option value="{{claim.claimCategory}}" disabled selected>{{claim.claimCategory}}</option>
                            <option *ngFor="let category of categories">
                                {{category}}
                            </option>
                        </select>
                        <select value="{{claim.priority}}" class="form-select" id="priority" name="priority" formControlName="priority">
                            <option value="{{claim.priority}}" disabled selected >{{claim.priority}}</option>
                            <option *ngFor="let priority of priorities" value={{priority}}>
                                {{priority}}
                            </option>
                        </select>
                        <div>
                            <input type="text" placeholder="Claim title" value="{{claim.title}}" formControlName="title">
                        </div>
                    </div>
                    <textarea formControlName="description" value="{{claim.description}}" placeholder="Description"></textarea>
                    <button (click)="onSave()" type="submit" class="site-btn">Save</button>
                    <p-toast></p-toast>
                </form>
            </div>
        </div>
    </div>
</div>