<div class="container">
  <div class="col-lg-6 col-md-6">
    <div class="contact__form">
      <div class="contact__form__title">
        <h2>Add your own recipe</h2>
      </div>
      <form action="#">
        <input type="text" placeholder="Title" />
        <textarea placeholder="Description"></textarea>
        <input type="number" min="0" placeholder="Preperation time" />
        <input type="text" placeholder="Catgory" />

        <button type="submit" class="site-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
