<!-- Categories Section Begin -->
<section class="categories categories-grid spad">
  <div class="categories__post">
    <div class="container">
      <div class="categories__grid__post">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="breadcrumb__text">
              <h2>Categories: <span>Recipes</span></h2>
              <div class="breadcrumb__option">
                <a href="#">Home</a>
                <span>Recipes</span>
              </div>
            </div>
            <ng-container *ngIf="recipes">
              <div
                class="categories__list__post__item"
                *ngFor="let receipe of recipes"
              >
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="categories__post__item__pic set-bg">
                      <img
                        class="cstm_img"
                        src="http://192.168.1.12:8000{{
                          receipe?.image?.contentUrl
                        }}"
                      />
                      <div class="post__meta">
                        <h4>08</h4>
                        <span>Aug</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="categories__post__item__text">
                      <span class="post__label">{{ receipe.category }}</span>
                      <h3>
                        <a href="#">{{ receipe.title }}</a>
                      </h3>
                      <ul class="post__widget">
                        <li>
                          by <span>{{ receipe.user.firstName }}</span>
                        </li>
                      </ul>
                      <p>
                        {{ receipe.description }}
                      </p>
                      <div class="row">
                        <div class="header__btn position">
                          <a
                            class="primary-btn add_custom"
                            (click)="details(receipe.id)"
                          >
                            Check the recipe
                          </a>
                        </div>
                        <!--
                          "-->
                        <div
                          class="header__btn position"
                          style="padding-left: 5px"
                          *ngIf="
                            currentUser?.roles?.includes('ROLE_ADMIN') &&
                            receipe.isActive === false
                          "
                        >
                          <a
                            class="primary-btn add_custom"
                            (click)="approuve(receipe.id)"
                          >
                            Approuve
                          </a>
                        </div>
                        <!--div
                          style="
                            margin-left: 27px;
                            margin-top: -3px;
                            font-size: 1.7em;
                          "
                        >
                          <a
                            (click)="modalOn(receipe.id)"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            ><i class="fa fa-trash"></i
                          ></a>
                        </div-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="sidebar__item">
              <div class="sidebar__about__item">
                <div class="sidebar__item__title">
                  <h6>About me</h6>
                </div>
                <img src="./assets/img/sidebar/sidebar-about.jpg" alt="" />
                <h6>
                  Hi every one! I,m
                  <span
                    >{{ currentUser.firstName }}
                    {{ currentUser.lastName }}</span
                  >
                </h6>
                <p>
                  {{ currentUser.aboutMe }}
                </p>
              </div>

              <div class="sidebar__item__categories">
                <div class="sidebar__item__title">
                  <h6>Categories</h6>
                </div>
                <ul>
                  <li>
                    <a (click)="filterByCategory('all')">Recipes </a>
                  </li>
                  <li>
                    <a (click)="filterByCategory('Maindish')">Main Dish </a>
                  </li>
                  <li>
                    <a (click)="filterByUser()">My recipes </a>
                  </li>

                  <li>
                    <a (click)="filterByCategory('Other')">Other </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->
<!--<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Recipe</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this recipe ?
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary">
          No
        </button>
        <button type="button" (click)="delete()" class="btn btn-primary">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>-->
