<!-- Categories Section Begin -->
<app-article-list></app-article-list>
<section class="categories categories-grid spad">
  <div class="categories__post">
    <div class="container">
      <div class="categories__grid__post">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="breadcrumb__text">
              <h2>Categories: <span>Recipes</span></h2>
              <div class="breadcrumb__option">
                <a href="#">Home</a>
                <span>Recipes</span>
              </div>
            </div>
            <ng-container *ngIf="recipes">
              <div
                class="categories__list__post__item"
                *ngFor="let receipe of recipes"
              >
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="categories__post__item__pic set-bg">
                      <img
                        class="cstm_img"
                        src="http://192.168.1.12:8000{{
                          receipe?.image?.contentUrl
                        }}"
                      />
                      <div class="post__meta">
                        <h4>08</h4>
                        <span>Aug</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="categories__post__item__text">
                      <span class="post__label">{{ receipe.category }}</span>
                      <h3>
                        <a href="#">{{ receipe.title }}</a>
                      </h3>
                      <ul class="post__widget">
                        <li>by <span>Admin</span></li>
                      </ul>
                      <p>
                        {{ receipe.description }}
                      </p>
                      <div class="header__btn position">
                        <a
                          class="primary-btn add_custom"
                          (click)="details(receipe.id)"
                        >
                          Check the recipe
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- <div class="row">
              <div class="col-lg-12">
                <div class="categories__pagination">
                  <a href="#">1</a>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">Next</a>
                </div>
              </div>
            </div>-->
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="sidebar__item">
              <div class="sidebar__about__item">
                <div class="sidebar__item__title">
                  <h6>About me</h6>
                </div>
                <img src="./assets/img/sidebar/sidebar-about.jpg" alt="" />
                <h6>Hi every one! I,m <span>Lena Mollein.</span></h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
              <div class="sidebar__follow__item">
                <div class="sidebar__item__title">
                  <h6>Follow me</h6>
                </div>
                <div class="sidebar__item__follow__links">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-youtube-play"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-envelope-o"></i></a>
                </div>
              </div>
              <div class="sidebar__item__categories">
                <div class="sidebar__item__title">
                  <h6>Categories</h6>
                </div>
                <ul>
                  <li>
                    <a (click)="filterByCategory('all')"
                      >Recipes <span>128</span></a
                    >
                  </li>
                  <li>
                    <a (click)="filterByCategory('Maindish')"
                      >Main Dish <span>32</span></a
                    >
                  </li>
                  <li>
                    <a>Side Dish <span>86</span></a>
                  </li>
                  <li class="p-left">
                    <a>Appetizer <span>25</span></a>
                  </li>
                  <li class="p-left">
                    <a>Soup <span>36</span></a>
                  </li>
                  <li class="p-left">
                    <a>Salad <span>15</span></a>
                  </li>
                  <li>
                    <a>Dessert <span>63</span></a>
                  </li>
                  <li>
                    <a>Drink <span>27</span></a>
                  </li>
                  <li>
                    <a (click)="filterByCategory('Other')"
                      >Other <span>27</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->
