<div class="single-post__leave__comment">
    <div class="widget__title">
        <h4>Claim Form</h4>
    </div>
    <div class="container">
        <div class="col-lg-6 col-md-6">
            <div class="contact__form">
                <form [formGroup]="claimForm">
                    <div class="form-group">
                        <div class="row">
                            <div *ngFor="let category of categories" class="p-field-checkbox" style="display:inline">
                                <span class="col-md-4">
                                    <label class='labelRadio' [for]="category.id">{{category.name}}</label>
                                    <p-radioButton [inputId]="category.name" name="category" [value]="category"
                                        formControlName="category">
                                    </p-radioButton>
                                </span>
                            </div>
                        </div>
                        <div>
                            <input type="text" placeholder="Claim title" formControlName="title">
                        </div>
                    </div>
                    <textarea formControlName="description" placeholder="Description"></textarea>
                    <button class="site-btn" type="submit" (click)="onSubmit()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>