<div class="single-post__leave__comment">
    <div class="widget__title">
        <h4>Claim Form</h4>
    </div>
    <div class="container">
        <div class="col-lg-6 col-md-6">
            <div class="contact__form">
                <form [formGroup]="claimForm">
                    <div class="form-group">
                        <select class="form-select" id="category" name="category" formControlName="claimCategory">
                            <option value="">Select the category</option>
                            <option *ngFor="let category of categories" value={{category}}>
                                {{category}}
                            </option>
                        </select>
                        <select class="form-select" id="priority" name="priority" formControlName="priority">
                            <option value="">Select the priority</option>
                            <option *ngFor="let priority of priorities" value={{priority}}>
                                {{priority}}
                            </option>
                        </select>
                        <div>
                            <input type="text" placeholder="Claim title" formControlName="title">
                        </div>
                    </div>
                    <textarea formControlName="description" placeholder="Description"></textarea>
                    <button (click)="onSubmit()" [disabled]="!claimForm.valid" type="submit" class="site-btn">Submit</button>
                    <p-toast></p-toast>
                </form>
            </div>
        </div>
    </div>
</div>